<html>
    <head>
        <title>信息修改</title>
    </head>

    <body>
        <h2>正在修改 {{ user.name }}</h2>
        <hr>
        <form action="/modify" method="POST" enctype="multipart/form-data">
            性别：
            男<input type="radio" name="gender" value="male" {% if user.gender == "male" %}checked{% endif %}>
            女<input type="radio" name="gender" value="female" {% if user.gender == "female" %}checked{% endif %}>
            <br>

            语文：<input type="text" name="chinese" value="{{ user.chinese }}">
            <br>

            数学：<input type="text" name="math" value="{{ user.math }}">
            <br>
            <input type="file" name="avatar">
            <br>
            <input type="hidden" name="uid" value="{{ user.id }}">
            <input type="submit">
        </form>
    </body>
</html>
